:root {
    
    --color-primary: #2A9D8F; 
    --color-secondary: #E76F51; 
    --color-accent: #264653; 
    --color-background: #F4F4F9; 
    --color-text: #333333; 
    --color-light: #FFFFFF; 
    --color-dark: #000000; 



    /* Typografi */
    --font-size-base: 16px;
    --font-size-large: 1.25rem;
    --font-size-small: 0.875rem;

    /* Spacing */
    --spacing-small: 8px;
    --spacing-medium: 16px;
    --spacing-large: 24px;

    /* Border Radius */
    --border-radius: 4px;

    /* Skygger */
    --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
